#scrollDiv{
    overflow-y: scroll;
    height: 200px;
    background-color: antiquewhite;
    width: 500px;
}

/* #scrollDiv::-webkit-scrollbar {
    width: 1 !important; 
}  */
/* 设置滚动条的样式 */
#scrollDiv::-webkit-scrollbar {
   width: 5px;
   border-radius: 5px;
}
/* 滚动槽 */
#scrollDiv::-webkit-scrollbar-track {
   background-color: rgba(250, 245, 245, 0.552);
}
/* 滚动条滑块 */
#scrollDiv::-webkit-scrollbar-thumb {
   border-radius: 5px;
   background: rgb(188, 192, 187);

}